
* { font-family: Courier; }
body { padding: 30px; }
dd, li, hr { font-weight: bold; line-height: 1.5em; }
ul { list-style-type: none; padding-bottom: 1em; }
a { font-size: 0.75em; color: #FBA43A; }
.light { background-color: #AAA; color: black; }
.dark  { background-color: #555; color: white; }
.first { padding: 1em 1.5em; border-radius: 7px; }
.light .first { background-color: #EEE; }
.dark  .first { background-color: #222; }
